<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="./style.css" />
		<link rel="stylesheet" type="text/css" href="./admin.css" />
    </head>
    <body>
        <main class="box">
            <header>
                <h1>Administration</h1>
            </header>
            <div class="list interventions">
                <header>
                    <h2>Interventions</h2>
                    <a href="/admin/intervention/new" class="btn">Plan a new intervention</a>
                </header>
                {{INTERVENTION_FRAGMENTS}}
            </div>
            <div class="list services">
                <header>
                    <h2>Monitored services</h2>
                    <a href="/admin/service/new" class="btn">Add a new service</a>
                </header>
                {{SERVICE_FRAGMENTS}}
            </div>
        </main>
        <div class="toast success">Intervention {title} created!</div>
    </body>
</html>
