<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="./style.css" />
    </head>
    <body>
        <main class="box">
            <header>
                <h1>Administration</h1>
                <a href="new-intervention.html" class="btn">Plan a new intervention</a>
            </header>
            <section>

            </section>
        </main>
        <div class="toast success">Intervention {title} created!</div>
    </body>
</html>