html,
body {
    height: 100%;
    --main-margin: 1rem;
    --half-margin: .5rem;
    --primary: #4aa2d0;
    --dark-primary: #2880b0;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #eee;
    color: #333;
}

main {
    max-width: 800px;
}

.box {
    margin: var(--main-margin) auto;
    padding: var(--main-margin);
    background-color: #fff;
    border: solid 1px #ccc;
    box-shadow: 1px 1px 2px #ccc;
    border-radius: 3px;
}

.box header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box header h1 {
    border-bottom: solid 4px var(--primary);
}

.box header * {
    margin: 0;
}

.center {
    text-align: center;
}

.list header {
    margin: var(--main-margin) 0;
}

.list > section:not(:last-child)::after {
    content: " ";
    display: block;
    width: 400px;
    margin: auto;
    margin-bottom: var(--main-margin);
    border-bottom: solid 1px #ddd;
}

.partial-outage,
.performance-issue {
    color: #eb996d;
}

.full-outage {
    color: #c42719;
}

.ongoing-outage {
    padding: var(--half-margin) var(--main-margin);
    background-color:   #fedcd7;
    border-color: #febbb2;
    color: #c42719;
}