{% extends "base.html" %}

{% block title %}Rustatouille - Statuts des services Framasoft{% endblock title %}

{% block body %}

<h1>État des services Framasoft</h1>

{% if current_interventions | length != 0 %}
    <div class="ongoing-outage error">
    Incident en cours sur 
    {% for int in current_interventions %}
        {% for s in int.services %}
        <strong>{{ s.title }}</strong> : {{ int.title }} (<a href="#service-{{s.id}}">voir plus</a>),
        {% endfor %}
    {% endfor %}
    .
    </div>
{% endif %}

{% if current_planned | length != 0 %}
    <div class="ongoing-outage warning">
    Maintenance planifiée sur 
    {% for int in current_planned %}
        {% for s in int.services %}
            <strong>{{ s.title }}</strong> : {{ int.title }} (<a href="#service-{{s.id}}">voir plus</a>),
        {% endfor %}
    {% endfor %}
    .
    </div>
{% endif %}

<h2>Liste des services</h2>

<div class="tiles">
    {% for service in services %}
    <section class="{{service.section_class}}">
        <header>
            <h3 id="service-{{service.id}}">
                <a href="{{service.url}}">{{service.title}}</a>
            </h3>
            <!-- TODO additionner ongoing+planned ici -->
            <span>{{service.ongoing | length}} intervention{{ service.ongoing | length |
            pluralize }}</span>
        </header>

        {% if service.ongoing | length != 0 %}
            <ul class="ongoing-interventions">
                {% for p in service.ongoing %}
                    <li>
                        <h4>{{p.title}}</h4>
                        <span>Date : {{p.start_date}}</span>
                        <span>Durée prévue : {{p.estimated_duration}}</span>
                        <p>{{p.description}}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if service.planned | length != 0 %}
            <ul class="ongoing-interventions">
                {% for p in service.planned %}
                    <li>
                        <h4>{{p.title}}</h4>
                        <span>Date : {{p.start_date}}</span>
                        <span>Durée prévue : {{p.estimated_duration}}</span>
                        <p>{{p.description}}</p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
    {% endfor %}
</div>

{% endblock body %}
