{% extends "base.html" %}

{% block title %}Statuts{% endblock title %}

{% block body %}

<h1>Services status</h1>

{% for int in current_interventions %}
    <div class="ongoing-outage error">
    <strong>{{int.title}} is actually on going on {{int.services}}.</strong>
    Severity: {{int.severity}}, started at {{int.start_date}}, estimated duration
    {{int.estimated_duration}}.
    <a href="#intervention-{{int.id}}">Read more</a>
    </div>
{% endfor %}

<h2>Monitored services</h2>

<div class="tiles">
    {% for service in services %}
    <section class="{{service.section_class}}">
        <h3>
            <a href="{{service.url}}">{{service.title}}</a>
        </h3>

        {% if service.ongoing | length != 0 %}
            <p>{{service.ongoing | length}} ongoing intervention{{ service.ongoing | length | pluralize }}</p>
            <ul>
                {% for p in service.ongoing %}
                    <li><a href="#intervention-{{p.id}}">{{p.title}} ({{p.start_date}})</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if service.planned | length != 0 %}
            <p>{{service.planned | length}} planned intervention{{ service.planned | length | pluralize }}</p>
            <ul>
                {% for p in service.planned %}
                    <li><a href="#intervention-{{p.id}}">{{p.title}} ({{p.start_date}})</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
    {% endfor %}
</div>

<h2>Interventions</h2>

<div class="list interventions">
    {% for int in interventions %}
        <section>
            <header>
                <h3 id="intervention-{{int.id}}">{{ int.title }}</h3>
                <p>{{ int.start_date }}</p>
            </header>
            <p>
                <em>Severity:</em> <strong class="{{int.severity_class}}">{{int.severity}}</strong>
                <em>Estimated duration:</em> <strong>{{int.estimated_duration}}</strong>
            </p>
            <p>{{ int.rendered_description }}</p>
        </section>
    {% endfor %}
</div>

{% endblock body %}
