{% extends "base.html" %}

{% block title %}Ajouter un service{% endblock %}

{% block extra_headers %}
<link rel="stylesheet" type="text/css" href="/admin.css" />
{% endblock extra_headers %}

{% block body %}
<header>
    <h1>New service</h1>
</header>
<form action="/admin/api/service" method="post">
    <p>
        <label for="name-field">Name:</label>
        <input id="name-field" name="name" type="text" maxlength="255" required />
    </p>
    <p>
        <label for="url-field">URL:</label>
        <input id="url-field" name="url" type="url" maxlength="255" required />
    </p>
    <p class="center">
        <input type="submit" class="btn" value="Add a service" />
    </p>
</form>
{% endblock body %}
