html,
body {
    height: 100%;
    --main-margin: 1rem;
    --half-margin: .5rem;
    --primary: #4aa2d0;
    --dark-primary: #2880b0;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #eee;
    color: #333;
}

main {
    max-width: 800px;
}

ul {
    padding-left: var(--main-margin);
}

.error {
    background-color: #ffebe6;
    border-color: #febbb2;
    color: #be291b;
}

.warning {
    background-color: #fee7c8;
    border-color: #fffae6;
    color: #a34c34;
}

.success {
    background-color: #e3fcef;
    border-color: #69d183;
    color: #1f7e48;
}

.box {
    margin: var(--main-margin) auto;
    padding: var(--main-margin);
    background-color: #fff;
    border: solid 1px #ccc;
    box-shadow: 1px 1px 2px #ccc;
    border-radius: 3px;
}

.box header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box header h1 {
    border-bottom: solid 4px var(--primary);
}

.box header * {
    margin: 0;
}

.center {
    text-align: center;
}

.list header {
    margin: var(--main-margin) 0;
}

.list > section:not(:last-child)::after {
    content: " ";
    display: block;
    width: 400px;
    margin: auto;
    margin-bottom: var(--main-margin);
    border-bottom: solid 1px #ddd;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: var(--main-margin);
}

.tiles > section {
    padding: var(--main-margin);
    border: solid 1px;
    border-radius: 3px;
}

.tiles h3,
.tiles ul {
    margin: 0;
}

.tiles a {
    color: inherit;
}

.partial-outage,
.performance-issue {
    color: #eb996d;
}

.full-outage {
    color: #c42719;
}

.ongoing-outage {
    margin: var(--main-margin) 0;
    padding: var(--half-margin) var(--main-margin);
    border: solid 1px;
}

.badge {
    width: 25px;
    height: 25px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: #ddd;
}