html,
body {
    height: 100%;
    --main-margin: 1rem;
    --half-margin: .5rem;
    --primary: #4aa2d0;
    --dark-primary: #2880b0;
}

body {
    max-width: 1000px;
    margin: auto;
    font-family: sans-serif;
    background-color: #eee;
    color: #333;
}

ul {
    padding-left: var(--main-margin);
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

td {
    padding: var(--half-margin) var(--main-margin);
}

.error {
    background-color: #ffebe6;
    border: 1px solid #febbb2;
}

.warning {
    background-color: #fee7c8;
    border: 1px solid #fffae6;
}

.success {
    border: 1px solid lightgrey;
}

.box {
    margin: var(--main-margin);
    padding: var(--main-margin);
    background-color: #fff;
    border: solid 1px #ccc;
    box-shadow: 1px 1px 2px #ccc;
    border-radius: 3px;
}

.box header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--main-margin) 0;
}

.box header h1 {
    border-bottom: solid 4px var(--primary);
}

.box header * {
    margin: 0;
}

.center {
    text-align: center;
}

.list header {
    margin: var(--main-margin) 0;
}

.list > section:not(:last-child)::after {
    content: " ";
    display: block;
    width: 400px;
    margin: auto;
    margin-bottom: var(--main-margin);
    border-bottom: solid 1px #ddd;
}

.tiles {
    display: flex;
    flex-direction: column;
    gap: var(--main-margin);
}

.tiles > section {
    padding: var(--main-margin);
    border-radius: 3px;
}

.tiles > section > header {
    margin-top: 0;
    display: flex;
    flex-direction: row;
}

.tiles h3,
.tiles ul {
    margin: 0;
}

.tiles a {
    color: inherit;
}

.partial-outage,
.performance-issue {
    color: #eb996d;
}

.full-outage {
    color: #c42719;
}

.ongoing-outage {
    margin: var(--main-margin) 0;
    padding: var(--half-margin) var(--main-margin);
    border: solid 1px inherit;
}

.badge {
    width: 25px;
    height: 25px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: #ddd;
}

ul.ongoing-interventions {
    margin-top: 1em;
}

.ongoing-interventions h4 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 1.2em;
}

.ongoing-interventions span {
    display: block;
}

.ongoing-interventions li {
    list-style: none;
    background: white;
    padding: 0.5em 1em;
}
